<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>Welcome to our Url Shortner</h1>
    <br>
    <form>
        <input type="url" placeholder="Enter the long link" id="inputtxt"/>
        <button  onClick="handleFormSubmit(event)">Submit</button>
    </form>
    <br>
    <h3 id="short"></h3>
</center>
<script>
    function handleFormSubmit(event) {
        event.preventDefault();
        const inputtxt=document.getElementById("inputtxt");
        //alert(`Value is ${input.value}`);
        fetch("http://localhost:7000/api/newurl",{
           method:"POST",
           body : JSON.stringify({longUrl : inputtxt.value}),
           headers : {
                "Content-Type": "application/json",
           },
        }).then(function(value){
            value.json().then(function(data){
            document.getElementById('short').innerText=`Your short URL is: http://localhost:7000/${data.ShortUrl}`;
            });
        });
    }
</script>
</body>
</html>